@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 209 100% 95%;
    --foreground: 209 5% 0%;
    --card: 209 50% 90%;
    --card-foreground: 209 5% 10%;
    --popover: 209 100% 95%;
    --popover-foreground: 209 100% 0%;
    --primary: 209 100% 49.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 209 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 171 30% 85%;
    --muted-foreground: 209 5% 35%;
    --accent: 171 30% 80%;
    --accent-foreground: 209 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 209 5% 90%;
    --border: 209 30% 50%;
    --input: 209 30% 18%;
    --ring: 209 100% 49.2%;
    --radius: 0.5rem;
   }
  .dark {
    --background: 209 50% 5%;
    --foreground: 209 5% 90%;
    --card: 209 50% 0%;
    --card-foreground: 209 5% 90%;
    --popover: 209 50% 5%;
    --popover-foreground: 209 5% 90%;
    --primary: 209 100% 49.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 209 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 171 30% 15%;
    --muted-foreground: 209 5% 60%;
    --accent: 171 30% 15%;
    --accent-foreground: 209 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 209 5% 90%;
    --border: 209 30% 18%;
    --input: 209 30% 18%;
    --ring: 209 100% 49.2%;
    --radius: 0.5rem;
   }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


